@font-face {
  font-family: 'dinpro-regular';
  src: url('../fonts/dinpro-regular-webfont.eot');
  src: url('../fonts/dinpro-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('../fonts/dinpro-regular-webfont.woff') format('woff'),
  url('../fonts/dinpro-regular-webfont.ttf') format('truetype'),
  url('../fonts/dinpro-regular-webfont.svg#dinpro-regularregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*--------------------------------*/

@mixin absolute-centered{
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}

@mixin call-rectangle($width, $height){
  width: $width;
  height: $height;
  background-color: #fa6800;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  line-height: $height;
  font-size: 12pt;
  float: left;
}

.hide{
  display: none;
}

.left-flag{
  float: left;
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.right-flag{
  float: right;
}

/*-----------------------------*/

html, body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'dinpro-regular', sans-serif;
}

a, a:hover, a:visited{
  text-decoration: none;
}

#logo-hermes{
  @include absolute-centered;
  top: 0;
  width: 100px;
}

#logo-ma{
  @include absolute-centered;
  bottom: 8%;
  width: 110px;
}

#nav{

  $radius: 7px;
  $margin: 5px;
  $width: ($radius+$margin)*5;

  @include absolute-centered;
  bottom: 3%;
  width: $width;

  div{
    width: $radius;
    height: $radius;
    background-color: #dcdcdc;
    float: left;
    margin-right: $margin;

    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
  }
  .active{
    background-color: #898989;
  }
}

#loader{
  @include  absolute-centered;
  width: 59px;
  height: 227px;
  top: 0px;
  bottom: 0;
  margin: auto auto;

  *{
    position: absolute;
  }

  #dots{
    z-index: 10;
  }

  #mask{
    width: 100%;
    height: 100%;
    z-index: 5;
    background-color: #ffffff;
    bottom: 0;
  }
}

/*SLIDES*/

.slide{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  -webkit-transition: left 0.5s;
  transition: left 0.5s;
}

#s0{
  left: 0%;
}#s1{
  left: 100%;
}#s2{
  left: 200%;
}#s3{
  left: 300%;
}#s4{
  left: 400%;
}

.start{

  p, div.call, img.dot{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  p{
    top: 27%;
    font-size: 10pt;
    color: #a5a5a5;
    text-align: center;
  }

  .call{
    width: 223px;
    height: 34px;
    top: 48%;

    div.rect{
      @include call-rectangle(200px, 34px);
    }
    
    img{
      float: right;
    }
  }

  img.dot{
    top: 62%;
    width: 20px;
  }
}

.middle{

  .media-content, .call{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  .media-content{
    width: 100%;
    height: 48%;
    top: 14%;
    overflow: hidden;

    img{
      width: 100%;
    }
  }

  .call{
    top: 65%;
    width: 226px;

    img{
      display: block;
    }

    .rect{
      @include call-rectangle(180px, 33px);
    }
  }
}

.end{

  p, div.call, img.dot{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  p{
    top: 27%;
    font-size: 11pt;
    color: #a5a5a5;
    text-align: center;
    text-transform: uppercase;
    width: 200px;
  }

  .call{
    top: 42%;
    width: 226px;

    img{
      display: block;
    }

    .rect{
      @include call-rectangle(180px, 33px);
    }
  }

  img.dot{
    top: 55%;
    width: 20px;
  }
}




