<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <title>∆∑</title>
    <link href='http://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Voltaire' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="assets/style/main.css">
    <script src="js/libs/modernizr.js"></script>
</head>

<body ng-app="app">

    <div class="gui" ng-controller="GUICtrl">
        <button ng-click="saveSettings()">Save settings</button>

        <div class="gui-group" ng-class="{disabled: !options.active}" ng-repeat="(effect, options) in effects">
            <div class="grabber">
                <input type="checkbox" class="switch" ng-model="options.active" ng-change="resetChain()" />
                <div class="clearfix"></div>
            </div>
            <div class="title">{{options.title}}</div>
            <div class="content" ng-if="options.params" ng-show="options.active">
                <div ng-repeat="(param, options) in options.params">
                    <label>{{options.title}} <span class="val">{{options.val}}</span></label>
                    <input 
                        type="{{options.type}}" 
                        min="{{options.min}}" 
                        max="{{options.max}}" 
                        step="{{options.step}}" 
                        ng-model="options.val" 
                        ng-change="updateEffect(effect, param, options.val)" 
                    />
                </div>
            </div>
        </div>
    </div>

    <world></world>

    <script src="js/libs/three.min.js"></script>

    <script src="js/three/controls/OrbitControls.js"></script>
    <script src="js/three/utils/Animate.js"></script>
    <script src="js/three/utils/WindowResize.js"></script>

    <script src="js/three/objects/SkyDome.js"></script>

    <script src="js/three/rendering/shaders/ConvolutionShader.js"></script>
    <script src="js/three/rendering/shaders/CopyShader.js"></script>
    <script src="js/three/rendering/shaders/FXAAShader.js"></script>
    <script src="js/three/rendering/shaders/VignetteShader.js"></script>
    <script src="js/three/rendering/shaders/FilmShader.js"></script>
    <script src="js/three/rendering/shaders/DigitalGlitch.js"></script>
    <script src="js/three/rendering/shaders/FocusShader.js"></script>
    <script src="js/three/rendering/shaders/BrightnessContrastShader.js"></script>
    <script src="js/three/rendering/shaders/PixelateShader.js"></script>
    <script src="js/three/rendering/shaders/C64Shader.js"></script>
    <script src="js/three/rendering/shaders/DitherShader.js"></script>
    <script src="js/three/rendering/shaders/TechnicolorShader.js"></script>
    <script src="js/three/rendering/shaders/HueSaturationShader.js"></script>
    <script src="js/three/rendering/shaders/SSAOShader.js"></script>
    <script src="js/three/rendering/shaders/RGBShiftShader.js"></script>
    <script src="js/three/rendering/shaders/KaleidoShader.js"></script>
    <script src="js/three/rendering/shaders/EdgeShader.js"></script>
    <script src="js/three/rendering/shaders/VerticalTiltShiftShader.js"></script>
    <script src="js/three/rendering/shaders/HorizontalTiltShiftShader.js"></script>
    <script src="js/three/rendering/shaders/BleachBypassShader.js"></script>
    <script src="js/three/rendering/shaders/BokehShader.js"></script>

    <script src="js/three/rendering/postprocessing/FilmPass.js"></script>
    <script src="js/three/rendering/postprocessing/GlitchPass.js"></script>
    <script src="js/three/rendering/postprocessing/BloomPass.js"></script>
    <script src="js/three/rendering/postprocessing/BokehPass.js"></script>
    <script src="js/three/rendering/postprocessing/MaskPass.js"></script>
    <script src="js/three/rendering/postprocessing/SavePass.js"></script>
    <script src="js/three/rendering/postprocessing/RenderPass.js"></script>
    <script src="js/three/rendering/postprocessing/ShaderPass.js"></script>
    <script src="js/three/rendering/postprocessing/EffectComposer.js"></script>
    
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/firebase/firebase.js"></script>
    <script src="bower_components/angularfire/dist/angularfire.min.js"></script>

    <script src="js/app.js"></script>

    <script src="js/services/World.js"></script>
    <script src="js/services/Composer.js"></script>
    <script src="js/services/Presets.js"></script>
    <script src="js/controllers/GUIController.js"></script>
    <script src="js/directives/world.js"></script>
</body>
</html>