/* blue: #0021FF */
/* yellow: #FFCA19 */


html, body{
  /* height: 100%; */
}

body{
  font-family: 'Roboto', sans-serif;
  color: white;
  margin: 0;
  padding: 121px 0 20px 0;
  background-color: #FFCA19;
  transition: background-color 250ms;
}
body.blue{
  background-color: #0021FF;
}

#three{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}
a{
  color: #fff;
}
a:hover{
  color: #fff;
}
ul, li{
  list-style: none;
  margin: 0;
  padding: 0;
}
ul{
  margin-bottom: 20px;
}


.header{
  width: 100%;
  position: fixed;
  z-index: 2;
  background-color: #FFCA19;
  top: 0;
  left: 0;
  transition: background-color 250ms;
}
.header.blue{
  background-color: #0021FF;
}

.navlink-container{
  position: fixed;
  top: 0;
  height: 100%;
  width: 33.3333333333%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.navlink-container.right{
  right: 0;
}
.navlink-container.left{
  left: 0;
}

.navlink{
  font-size: 22px;
  font-weight: 100;
  padding: 15px;
  border-bottom: 5px solid white;
  transition: all 200ms;
}
.navlink:hover{
  padding-bottom: 40px;
}

.navlink-title{
  position: fixed;
  width: 100%;
  text-align: center;
  z-index: 1;
  bottom: -50%;
  left: 0;
  font-size: 112px;
  font-weight: 900;
  font-style: italic;
  transition: bottom 250ms;
}
.navlink-title.visible{
  bottom: calc(50% - 84px);
}

.desc{
  font-size: 112px;
  width: 300px;
  word-wrap: break-word;
  margin: 0 auto;
  font-weight: 900;
  font-style: italic;
  line-height: 112px;
  position: relative;
  z-index: 1;
  transition: opacity 150ms;
}
.desc.hidden{
  opacity: 0;
}

.logo{
  width: 70px;
  margin: 40px auto;
  display: block;
}

.modal .bigtitle{
  font-size: 70px;
  font-weight: 700;
  text-align: center;
  position: relative;
  top: -50px;
}

.modal .btn-close{
  font-style: italic;
  text-decoration: none;
  border-bottom: 5px solid #FFCA19;
  padding-bottom: 5px;
  font-size: 18px;
  position: relative;
  left: -100px;
}

.modal .columns{
  margin-top: 40px;
}

.modal-content{
  background-color: #0021FF;
  padding: 80px;
  font-size: 14px;
  max-height: 500px;
  overflow: visible;
}

.modal-content a{
  text-decoration: underline;
}

.modal-content .title{
  font-size: 22px;
  font-style: italic;
}

.modal-content .title, .modal-content strong{
  color: white;
}
