html, body{
  height: 100%;
  min-height: 100%;
}

body{
  font-family: 'Space Mono', monospace;
  color: #FF57BC;
  margin: 0;
  padding: 121px 0 20px 0;
  background-color: #FFE600;
}

#content{
  position: relative;
  z-index: 1;
}

#three{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}
a{
  color: #FF57BC;
  font-weight: 700;
  text-decoration: underline;
}
a:hover{
  color: #FF57BC;
}

.title{
  color: #FF57BC;
  font-size: 3rem;
  padding: 0 40px 0 0;
}

strong{
  color: #FF57BC;
}
