<div class="secret">
    <form ng-submit="createPost()">
        <h2>☰☟</h2>
        <input type="text" ng-model="post.title" placeholder="Titre"/>
        <input type="text" ng-model="post.url" placeholder="Url"/>
        <button type="submit">Ajouter</button>
    </form>

    <div class="list">
        <h2>----></h2>
        <ul>
            <li ng-repeat="post in posts">
                Title -->
                <input class="noborder" type="text" ng-model="post.title" ng-change="updatePost(post)"/>
                Url -->
                <input class="noborder" type="text" ng-model="post.url" ng-change="updatePost(post)"/>
                <br/>
                <br/>
                <button class="delete" ng-click="deletePost(post)">Supprimer</button>
                <hr/>
            </li>
        </ul>
    </div>
</div>