@import "fonts";

// global vars

$wine: #97001f;
$blue: #2993ac;
$green: #6eaa01;

$navbarHeight: 75.5px;

// global

body{
  margin: 0;
  padding: 0;
  background: url(../img/background.png);
  padding-top: $navbarHeight;
  font-family: 'exoregular', sans-serif;
}

a{
  text-decoration: none;
}

ul{
  margin: 0;
  padding: 0;
}

li{
  list-style: none;
}

// shared classes

.container{
  width: 1170px;
  margin: 0 auto;
}

.frame{
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  margin: 15px 0;
  position: relative;

  &.padbot{
    padding-bottom: 25px;
  }

  ul{
    padding: 15px;
    &.nopadding{
      padding: 0;
    }
  }
  .padder{
    padding: 15px;
  }
}

.heading{
  text-transform: uppercase;
  font-size: 20px;
  padding: 15px 15px 0 15px;
  font-family: 'exobold', sans-serif;

  &.sub{
    text-transform: inherit;
    font-size: 17px;
    color: $wine;
  }

  &.services{
    color: $blue;
  }
  &.shops{
    color: $wine;
  }

  .icon{
    width: 30px;
    float: left;
    margin-right: 15px;
  }
  .title{
    line-height: 40px;

    &.bigmarginbot{
      margin-bottom: 30px;
    }
  }
  input[type=text].title{
    background: none;
    border: none;
    width: 50%;
  }
}

.create-tribe{
  background-color: #6eaa01;
  border: none;
  color: #fff;
  padding: 15px;
  display: block;
  margin: 0 auto;
}

.flip-container{
  width: calc(25% - 10px);
  height: 332px;
  perspective: 1000px;
	transform-style: preserve-3d;
  float: left;
  margin: 0 5px 10px 5px;
  position: relative;
  z-index: 10;
}

.flipper {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}
.front {
	z-index: 2;
	transform: rotateY(0deg);
}
.back{
	transform: rotateY(-180deg);
}

.card {
  width: calc(100% - 20px);
  //height: calc(332px - 60px);
	backface-visibility: hidden;
	transition: 0.6s;
	transform-style: preserve-3d;
	position: absolute;
	top: 0;
	left: 0;
  background: url(../img/card-yellow.jpg) no-repeat;
  background-size: cover;
  padding: 50px 10px 10px 10px;
  color: #555;
  letter-spacing: 0.5px;

  &.flipped{
    &.back {
      transform: rotateY(0deg);
    }
    &.front {
      transform: rotateY(180deg);
    }
  }

  &.back{
    padding-top: 10px;
    height: 312px;
  }

  &.red{
    background: url(../img/card-red.jpg);
  }
  &.blue{
    background: url(../img/card-blue.jpg);
  }

  .btn-update{
    position: absolute;
    top: 10px;
    left: 10px;
    background: none;
    border: none;
    color: #fff;
    font-size: 30px;
    padding: 0;
  }

  .icon-chief{
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .avatar{
    width: 60px;
    border-radius: 99px;
    margin: 0 auto;
    position: absolute;
    display: block;
    top: 10px;
    left: 0;
    right: 0;
    cursor: pointer;

    img{
      border-radius: 99px;
      width: 100%;
    }
  }

  .alias-face{
    width: 100%;
    height: 225px;
    margin-bottom: 2.5px;
    background: url(../img/alias-face-placeholder.jpg) no-repeat center;
    background-size: cover;

    a{
      display: none;
      cursor: pointer;
    }

    &:hover{
      a{
        display: inline-block;
      }
    }
  }

  .inner{
    background-color: #fff;
    padding: 20px 10px 1px 10px;

    &.alias{
      padding: 0 5px 2px 5px;
    }
  }

  .heading{
    text-align: center;
    margin-bottom: 15px;

    .alias{
      font-size: 13px;
      text-transform: none;
      margin-bottom: 5px;
      white-space: nowrap;
    }

    .name{
      margin-bottom: 5px;
      font-size: 14px;
      white-space: nowrap;
      overflow: hidden;

      &.cleanput{
        background: none;
        text-transform: uppercase;
        text-align: center;
        display: block;
        margin: 0 auto;
        margin-bottom: 5px;
        padding: 0;
      }
    }

    .job{
      font-size: 12px;
      font-family: 'exoregular', sans-serif;
      white-space: nowrap;
    }
  }

  label{
    //display: block;
    font-size: 11px;
    background-color: #fff;
    padding: 7px 5px 7px 0;
  }

  .input-placeholder{
    color: #555;
    font-family: 'exobold', sans-serif;
    font-size: 12px;
  }

  input[type=text]{
    width: auto;
    display: inline-block;
    border: none;
    background-color: #eeeeee;
    padding: 5px 0 5px 5px;
    font-size: 12px;
    color: #555;
    font-family: 'exobold', sans-serif;
    letter-spacing: 0.5px;

    &.small{
      max-width: 115px;
    }
    &.comm{
      width: calc(100% - 5px);
    }
  }
  .form-group{
    margin: 10px 0;
    background-color: #eeeeee;

    &.noinput{
      background-color: #fff;
    }
  }
}

.btn-chief{
  cursor: pointer;
  opacity: 0;

  &.is-chief, &:hover{
    opacity: 1;
  }
}

.tribe-options{
  float: right;
  padding: 15px;
  a{
    color: $wine;
    font-size: 25px;
    margin-left: 10px;
    cursor: pointer;
  }
}

.tribe ul[dnd-list],
.tribe ul[dnd-list] > li {
	position: relative;
}
.tribe ul[dnd-list] {
    min-height: 332px;
}
.tribe ul[dnd-list] .dndDraggingSource {
    display: none;
}
.tribe ul[dnd-list] .dndPlaceholder {
    display: block;
    background-color: #ddd;
    width: calc(25% - 10px);
    height: 332px;
    float: left;
    margin: 0 5px;
}
.tribe ul[dnd-list] li.selected {
    //border: 1px solid #000;
}



.upload-modal{

  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 399;
  top: 0;
  left: 0;

  .inner{
    width: 515px;
    height: 130px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 400;
    background-color: #dbdbdb;
    padding: 15px;
  }

  .btn-close{
    float: right;
    cursor: pointer;
  }
  button{
    background: #fff;
    border: none;
    padding: 5px;
    float: right;
  }
}

.topright{
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 14px;
  width: 460px;

  .fh{
    display: block;
    float: right;
    margin: 5px 0 0 7px;
  }

  a{
    color: #716f6d;
    &:hover, &.active{
      color: #6eaa01;
      //font-family: 'exobold', sans-serif;
    }
  }

  .flipcards{
    float: left;
    margin-right: 30px;
  }

  .noobs{
    float: right;

    .hc{
      color: #716f6d;
      &.active{
        color: #6eaa01;
      }
    }

    img{
      width: 20px;
    }

    .noobs-list{
      text-align: center;

      img{
        margin: 15px 0 10px 0;
      }
      ul{
        padding: 0;
      }
      .noob{
        a{
          color: #716f6d;
          background-color: #fff;
          padding: 10px 0;
          border: 4px solid #6eaa01;
          font-size: 14px;
          text-transform: uppercase;
          width: calc(100% - 8px);
          display: block;
          margin-bottom: 10px;

          .name{
            font-family: 'exobold', sans-serif;
            margin-bottom: 5px;
          }

          .job{
            //text-transform: lowercase;;
          }
        }
      }
    }
  }
}

.tile{
  a{
    width: calc(16.6666666667% - 10px);
    margin: 0 5px 5px 5px;
    height: 115px;
    text-align: center;
    color: #fff;
    display: block;
    float: left;
    display: table;
    position: relative;
    text-transform: uppercase;
    font-size: 14px;

    p{
      display: table-cell;
      vertical-align: middle;
      text-align: center;
    }

    .nb-sticker{
      top: -5px;
      right: -5px;
    }
  }

  &.service a{
    background: url(../img/blueflag.png) no-repeat center;
    background-size: cover;
  }
  &.shop a{
    background: url(../img/redflag.png) no-repeat center;
    background-size: cover;
  }
}

.nb-sticker{
  width: 22px;
  height: 22px;
  line-height: 22px;
  background-color: #6eaa01;
  color: #fff;
  border-radius: 99px;
  text-align: center;
  position: absolute;
  font-size: 12px;
}

.line{
  width: 100%;
  height: 9px;
  background: url(../img/line.png);
}

.clearfix{
  clear: both;
}

// navbar

.navbar{
  width: 100%;
  height: $navbarHeight;
  position: fixed;
  top: 0;
  background-color: $wine;
  font-size: 14px;
  z-index: 1000;

  .inner{
    width: 1170px;
    margin: 0 auto;
  }

  .logo{
    float: left;
  }

  .searchbar{
    float: left;
    margin: 20px 40px 0 80px;
    position: relative;

    input{
      width: 400px;
      height: 34px;
      border: 1px solid #d2d2d2;
      padding: 0 10px;
    }

    .btn-search{
      background: none;
      border: none;
      position: absolute;
      right: 5px;
      top: 7px;

      img{
        width: 20px;
      }
    }
  }

  .notifs{
    float: left;
    color: #fff;
    position: relative;
    margin-top: 20px;

    img{
      width: 30px;
      float: left;
    }
    span{
      line-height: 35.5px;
    }

    .nb-sticker{
      top: 8px;
      left: -10px;
    }
  }

  .logout{
    float: right;
    margin-top: 30px;
    color: #fff;
    text-decoration: underline;
  }
}


.search-results{

  .heading.green{
    color: #6eaa01;
  }

  .greyline{
    margin-top: 30px;
    height: 4px;
    border: none;
    background: url(../img/line-grey.png);
  }

  ul{
    padding-bottom: 30px;
  }

  li{
    margin: 30px 0 0 0;
  }

  .btn-close{
    position: absolute;
    top: 15px;
    right: 15px;
    color: #000;
    text-decoration: underline;
  }

  .avatar{
    width: 60px;
    border-radius: 99px;
    display: block;
    float: left;

    img{
      border-radius: 99px;
      width: 100%;
    }
  }

  .name-container{
    width: 500px;
    float: left;
    margin-left: 20px;
    margin-top: 12px;

    .name{
      font-family: 'exobold', sans-serif;
      margin-bottom: 5px;
    }
  }

  .site{
    width: 240px;
    float: left;
    line-height: 60px;
  }

  .btn-container{
    float: right;

    a{
      display: block;
      background-color: #6eaa01;
      border-radius: 10px;
      color: #fff;
      padding: 10px;
    }

    img{
      width: 33px;
      float: left;
      margin-right: 20px;
      margin-left: 20px;
    }
  }
}
