<nav class="navbar">
  <div class="inner">

    <a ui-sref="home"><img src="assets/img/logo.png" alt="PicWic" class="logo"/></a>

    <form class="searchbar" ng-submit="search()" ng-controller="SearchbarController">
      <input type="text" ng-model="query" ng-focus="query = ''">
      <button type="submit" class="btn-search"><img src="assets/img/search.png" alt="Rechercher" /></button>
    </form>

    <div class="notifs" ng-controller="NoobsController">
      <div class="nb-sticker">{{noobs}}</div>
      <img src="assets/img/tipi-white.png" alt="Tipi Blanc" />
      <span>nouveaux arrivants dans les tribus</span>
    </div>

    <a href="#" class="logout">Déconnexion</a>

  </div>
</nav>
<div class="line"></div>
