.rez-foot{
  padding: 3rem 1.5rem 3rem;
  .logo{
    width: 125px;
  }
  .title{
    font-size: 17px;
  }
  ul{
    text-align: left;
    font-size: 13px;
    margin-top: 20px;
    li{
      margin-bottom: 10px;
    }
  }
}
