.proj-offset{height: 100%;}

.project{

  .title-container{
    @include bigTitleContainer();
    background-image: url('https://home.cern/sites/home.web.cern.ch/files/image/experiment/2013/10/ace.png');

    .title{
      @include bigTitle();
    }
  }

  hr{
    margin: 0;
  }

}
