.projects{
  .title{
    font-size: $bigText;
  }
  article{
    .title{
      font-size: 30px;
      margin: 20px 0 10px;
    }
    .sub{
      font-family: $open;
      font-size: 14px;
      margin-bottom: 20px;
    }
  }
  .frame{
    width: 100%;
    padding: 30%;
    box-sizing: border-box;
    position: relative;
    display: block;
    background: grey no-repeat center;
    background-size: cover;

    &:hover{
      .overlay{
        opacity: 1;
        .link, .line{
          transform: none;
        }
      }
    }

    .overlay{
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.8);
      text-align: center;
      position: absolute;
      top: 0;
      left: 0;
      padding: 28% 20%;
      transition: opacity 0.2s;
      opacity: 0;
      overflow: hidden;

      .inner{
        width: 100px;
        height: 60px;
        margin: auto;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
      }

      .link{
        color: white;
        font-size: 30px;
        font-weight: 700;
        font-family: $roboto;
        display: block;
        transition: transform 0.2s;
        transform: translate3d(0, -100%, 0);

        &:hover{
          color: $green;
        }
      }
      .line{
        width: 50px;
        height: 10px;
        background-color: $yellow;
        margin: 0 auto;
        transition: transform 0.2s;
        transform: translate3d(0, 100%, 0);
      }
    }
  }
}
