.rez-offset{height: 100%;}

.rezom{

  .title-container{
    @include bigTitleContainer();
    background-image: url('../img/back-diderot.jpg');

    .title{
      @include bigTitle();
    }
  }

  .process{
    margin-top: 1rem;
    margin-bottom: 1.75rem;

    h3{
      font-size: 11px;
      font-weight: 700;
    }
  }

  .title{
    font-size: 45px;
  }

  .talents{
    p{
      margin-bottom: 30px;
    }
    a{
      margin-right: 20px;
    }
  }

  .offers{
    .title{
      font-size: 25px;
      margin-bottom: 15px;
    }
    .line{
      margin-bottom: 30px;
      width: 65px;
      height: 10px;
      background-color: black;
      @include multicolor();
    }
    img{
      width: 100px;
    }
  }

}
