<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Néons Mutants - Studio</title>

  <link rel="stylesheet" href="bower_components/bulma/css/bulma.min.css">
  <link rel="stylesheet" href="../../cv/css/main.css"/>
</head>
<body>
  <section class="studio">

    <a href="./" class="btn-back">< back</a>

    <h1 class="section-title">STUDIO</h1>

      <div class="columns">
        <div class="column">
          <h2>à propos</h2>
          <p>
            <strong>Néons Mutants</strong> est un studio de création digitale.
          </p>
        </div>
        <div class="column">
          <h2>contact</h2>
          <p>
            <strong>Néons Mutants</strong>
            <br>29 rue de Lyon
            <br>59000 Lille
          </p>
          <p>
            Tél. +33(0)6 61 63 50 23
            <br><a href="mailto:tlhoest@gmail.com">Contactez-nous par email</a>
          </p>
        </div>
      </div>

      <div class="section-title">PROJETS</div>

      <div class="frame">
          <div class="date">Février 2018</div>
          <div class="title">ENSOLEIL'ADE</div>
          <p class="desc">
            Création du nouveau site web d'Ensoleil'ade.
          </p>
          <ul class="company">
              <li>Type: Web</li>
              <li>Client: Ensoleil'ade</li>
              <li>Tâches: Design, Conception UI/UX</li>
          </ul>
          <div class="line"></div>
      </div>

      <div class="frame">
          <div class="date">DÉCEMBRE 2017</div>
          <div class="title">BIP/POP</div>
          <p class="desc">
            Atelier de co-conception UI/UX.
          </p>
          <ul class="company">
              <li>Type: Web</li>
              <li>Client: BIP/POP - Rezom</li>
              <li>Tâches: Conception UI/UX</li>
          </ul>
          <div class="line"></div>
      </div>

      <div class="frame odd">
          <div class="date">NOVEMBRE 2017</div>
          <div class="title">COMPAGNIE DES ATELIERS</div>
          <p class="desc">
            Création du nouveau site CDA.
          </p>
          <ul class="company">
              <li>Type: Web</li>
              <li>Client: Clémentine de Corse</li>
              <li>Tâches: Design, Conception UI/UX</li>
          </ul>
          <div class="line"></div>
      </div>

      <div class="frame">
          <div class="date">OCTOBRE 2017</div>
          <div class="title">CLÉMENTINE DE CORSE</div>
          <p class="desc">
            Création du nouveau site CDC.
          </p>
          <ul class="company">
              <li>Type: Web</li>
              <li>Client: Clémentine de Corse</li>
              <li>Tâches: Design, Conception UI/UX</li>
          </ul>
          <div class="line"></div>
      </div>

      <div class="frame odd">
          <div class="date">SEPTEMBRE 2017</div>
          <div class="title">LA NANTAISE D'HABITATIONS</div>
          <p class="desc">
            Création de la nouvelle version du site de la NH dans le cadre d'un appel à projets.
          </p>
          <ul class="company">
              <li>Type: Web</li>
              <li>Client: La Nantaise d'Habitations</li>
              <li>Tâches: Design, Conception UI/UX</li>
          </ul>
          <div class="line"></div>
      </div>

      <div class="frame odd">
          <div class="date">AOÛT à SEPTEMBRE 2017</div>
          <div class="title">REZOM V2</div>
          <p class="desc">
            Développement front-end pour la v2 du site de Rezom.
          </p>
          <ul class="company">
              <li>Type: Web</li>
              <li>Client: Rezom</li>
              <li>Tâches: Dév front</li>
          </ul>
          <div class="line"></div>
      </div>

      <div class="frame">
          <div class="date">SEPTEMBRE 2016 à JUIN 2017</div>
          <div class="title">BOUSSOLE VR</div>
          <p class="desc">
            Un jeu de chasse aux trésors en réalité augmentée réalisée avec Rezom pour le compte de Follomee.
            <br>Partez à l'aventure, trouvez des indices et remontez la piste jusqu'au trésor caché.
            <br>Des aventures de 10 à 45 minutes à vivre en famille ou entre amis, tout près de chez vous.
            <br><a href="https://itunes.apple.com/fr/app/boussole-vr/id1237714274">App Store</a>
          </p>
          <ul class="company">
            <li>Type: App iOS/Android (Unity)</li>
            <li>Client: Follomee / Rezom</li>
            <li>Tâches: Design, Conception UI/UX, Dév Unity (C#)</li>
          </ul>
          <div class="line"></div>
      </div>

      <div class="frame odd">
          <div class="date">JUILLET 2016</div>
          <div class="title">PICWIC TRIBES</div>
          <ul class="company">
            <li>Type: WebApp (Angular)</li>
            <li>Client: Nextoo / PicWic</li>
            <li>Task: Frontend Dev</li>
          </ul>
          <div class="line"></div>
      </div>

      <div class="frame">
          <div class="date">APR 2016</div>
          <div class="title">BOOSTING COLLECTION</div>
          <div class="company">
              <span class="light">Type</span> : WebApp (Magento) -
              <span class="light">Client</span> : Fany Pechiodat -
              <span class="light">Task</span> : Frontend Dev -
          </div>
          <div class="line"></div>
      </div>

      <div class="frame odd">
          <div class="date">JAN 2016</div>
          <div class="title">NOOSBEE V2</div>
          <div class="company">
              <span class="light">Type</span> : WebApp -
              <span class="light">Client</span> : Rezom -
              <span class="light">Task</span> : Conception & Design
          </div>
          <div class="line"></div>
      </div>

      <div class="frame">
          <div class="date">SEP 2015</div>
          <div class="title">TEAMTIME</div>
          <div class="company">
              <span class="light">Type</span> : Mobile WebApp with offline mode (Android, iOS) -
              <span class="light">Client</span> : Arvato -
              <span class="light">Tech</span> : HTML5, AngularJS, RESTful Java API
          </div>
          <div class="line"></div>
      </div>

      <div class="frame odd">
          <div class="date">SEP 2015</div>
          <div class="title">NOOSBEE</div>
          <div class="company">
              <span class="light">Type</span> : WebApp (responsive) -
              <span class="light">Client</span> : Nextoo -
              <span class="light">Tech</span> : HTML5, AngularJS, TotalJS, Mongo
          </div>
          <div class="line"></div>
      </div>

      <div class="frame">
          <div class="date">JUL 2015</div>
          <div class="title">DECATHLON EXCHANGE</div>
          <div class="company">
              <span class="light">Type</span> : WebApp (responsive) -
              <span class="light">Client</span> : Décathlon -
              <span class="light">Tech</span> : HTML5, AngularJS, PHP Symfony2 RESTful API
          </div>
          <div class="line"></div>
      </div>

      <div class="frame odd">
          <div class="date">JUN 2015</div>
          <div class="title">DECATHLON HR-PORTAL</div>
          <div class="company">
              <span class="light">Type</span> : Mobile WebApp (Android, iOS) -
              <span class="light">Client</span> : Décathlon -
              <span class="light">Tech</span> : HTML5, AngularJS, PHP Symfony2 RESTful API
          </div>
          <div class="line"></div>
      </div>

      <div class="frame">
          <div class="date">APR 2015</div>
          <div class="title">MLP PAGETURNER</div>
          <div class="company">
              <span class="light">Type</span> : WebApp (prototype) -
              <span class="light">Client</span> : MyLittleParis -
              <span class="light">Tech</span> : HTML5, VanillaJS, AJAX
          </div>
          <div class="line"></div>
      </div>

      <div class="frame odd">
          <div class="date">MAR 2015</div>
          <div class="title">SHIKO SHIKO - MAKÉ MAKÉ</div>
          <div class="company">
              <span class="light">Type</span> : Unity App (interactive 3D scene) -
              <span class="light">Client</span> : Shiko Shiko -
              <span class="light">Tech</span> : Unity (C#), Maya -
          </div>
          <div class="line"></div>
      </div>

      <div class="frame">
          <div class="date">MAR 2015</div>
          <div class="title">CATHEDRAL</div>
          <div class="company">
              <span class="light">Type</span> : WebApp (prototype) -
              <span class="light">Description</span> : A WebGL postprocessing generator -
              <span class="light">Client</span> : Personal project -
              <span class="light">Tech</span> : HTML5, ThreeJS, AngularJS -
          </div>
          <div class="line"></div>
      </div>

      <div class="frame odd">
          <div class="date">FEB 2015</div>
          <div class="title">ALGORITHME AMOUREUX</div>
          <div class="company">
              <span class="light">Type</span> : WebApp (responsive) -
              <span class="light">Client</span> : My Little Paris -
              <span class="light">Tech</span> : HTML5, AngularJS, SVG -
          </div>
          <div class="line"></div>
      </div>

      <div class="frame">
          <div class="date">DEC 2014</div>
          <div class="title">PILIPI</div>
          <div class="company">
              <span class="light">Type</span> : NodeJS app (prototype)  -
              <span class="light">Description</span> : A NodeJS app that runs a RTPMidi session on a RaspberryPi  -
              <span class="light">Client</span> : zuun / duun (personal project) -
              <span class="light">Tech</span> : NodeJS, RTPMidi
          </div>
          <div class="line"></div>
      </div>

      <div class="frame odd">
          <div class="date">DEC 2014</div>
          <div class="title">DECATHLON CARTE-CADEAU V2</div>
          <div class="company">
              <span class="light">Type</span> : WebApp (responsive) -
              <span class="light">Client</span> : Decathlon -
              <span class="light">Tech</span> : HTML5 / CSS3, J2EE -
          </div>
          <div class="line"></div>
      </div>

      <div class="frame">
          <div class="date">SEP 2014</div>
          <div class="title">REDELUN</div>
          <div class="company">
              <span class="light">Type</span> : WebApp, Digital Art -
              <span class="light">Client</span> : zuun / duun (personal project) -
              <span class="light">Tech</span> : HTML5, WebGL (ThreeJS), Backbone, RequireJS, RESTful API -
          </div>
          <div class="line"></div>
      </div>

      <div class="frame odd">
          <div class="date">MAY 2014</div>
          <div class="title">BALADE SENSORIELLE</div>
          <div class="company">
              <span class="light">Type</span> : WebApp -
              <span class="light">Client</span> : My Little Paris, Roger & Gallet -
              <span class="light">Tech</span> : HTML5, VanillaJS -
          </div>
          <div class="line"></div>
      </div>

      <div class="frame">
          <div class="date">MAY 2014</div>
          <div class="title">COIN D'ÉTÉ</div>
          <div class="company">
              <span class="light">Type</span> : Game -
              <span class="light">Client</span> : My Little Paris, Le Petit Marseillais -
              <span class="light">Tech</span> : HTML5, PixiJS, PhysicsJS, RequireJS -
          </div>
          <div class="line"></div>
      </div>

      <div class="frame odd">
          <div class="date">JAN 2014</div>
          <div class="title">MLP VIDEO RECORDER</div>
          <div class="company">
              <span class="light">Type</span> : Flash app -
              <span class="light">Description</span> : A custom video recorder / player -
              <span class="light">Client</span> : My Little Paris -
              <span class="light">Tech</span> : Flash (AS3), Flash Media Server (Wowza)
          </div>
          <div class="line"></div>
      </div>

      <div class="frame">
          <div class="date">OCT 2013</div>
          <div class="title">VOTRE IPHONE DÉCHIFFRÉ</div>
          <div class="company">
              <span class="light">Type</span> : Mobile WebApp (iOS) -
              <span class="light">Description</span> : Included into Alfred App (now "HOOK") for its launching,
              a WebApp with a LOT of JS-driven motion design -
              <span class="light">Client</span> : Merci Alfred -
              <span class="light">Tech</span> : HTML5, GSAP
          </div>
          <div class="line"></div>
      </div>

      <div class="frame odd">
          <div class="date">AUG 2013</div>
          <div class="title">OÙ HABITER À PARIS</div>
          <div class="company">
              <span class="light">Type</span> : WebApp -
              <span class="light">Description</span> : An interactive map of Paris with an automated color-mapping algorithme -
              <span class="light">Client</span> : Merci Alfred -
              <span class="light">Tech</span> : HTML5, SVG, RaphaëlJS, AJAX -
          </div>
          <div class="line"></div>
      </div>

      <div class="frame">
          <div class="date">OCT 2013</div>
          <div class="title">LE LABO DU BIEN-ÊTRE</div>
          <div class="company">
              <span class="light">Type</span> : WebApp -
              <span class="light">Description</span> : A simple landing page with an interesting "ball selector" -
              <span class="light">Client</span> : My Little Paris, Always -
              <span class="light">Tech</span> : HTML5, CreateJS, Trigonometry -
          </div>
          <div class="line"></div>
      </div>

      <div class="frame odd">
          <div class="date">APR 2013</div>
          <div class="title">ANIM 2.0 : STUDIO D'ANIMATION</div>
          <div class="company">
              <span class="light">Type</span> : WebApp -
              <span class="light">Description</span> : Draw things, animate them, share them with the community -
              <span class="light">Client</span> : Les Rencontres Audiovisuelles  -
              <span class="light">Tech</span> : HTML5, CreateJS, Bootstrap -
          </div>
          <div class="line"></div>
      </div>

      <div class="frame">
          <div class="date">APR 2013</div>
          <div class="title">ANIM 2.0 : LE JEU</div>
          <div class="company">
              <span class="light">Type</span> : Game -
              <span class="light">Description</span> : A game to discover the history of animation -
              <span class="light">Client</span> : Les Rencontres Audiovisuelles  -
              <span class="light">Tech</span> : Citrus Engine (Flash AS3) -
          </div>
          <div class="line"></div>
      </div>

      <div class="frame odd">
          <div class="date">SEPTEMBRE 2012</div>
          <div class="title">MERCI ALFRED</div>
          <p>

          </p>
          <ul class="company">
            <li>Type: WebApp</li>
            <li>Client: Merci Alfred</li>
            <li>Tech: HTML5 / CSS3</li>
          </ul>
          <div class="line"></div>
      </div>

      <div class="frame">
          <div class="date">JUILLET 2012</div>
          <div class="title">MY LITTLE PARIS</div>
          <ul class="company">
            <li>Type: Web</li>
            <li>Client: Merci Alfred</li>
            <li>Tâche: Dév front</li>
            <li>Tech: HTML5 / CSS3 / PHP</li>
          </ul>
          <div class="line"></div>
      </div>

      <div class="frame odd">
          <div class="date">SEPTEMBRE 2011</div>
          <div class="title">CRISTAL FLOTTANT</div>
          <ul class="company">
            <li>Type: Web</li>
            <li>Client: zuun/duun</li>
            <li>Tech: Flash</li>
          </ul>
          <div class="line"></div>
      </div>

      <div class="frame">
          <div class="date">JUILLET 2011</div>
          <div class="title">UGD OPTICS</div>
          <ul class="company">
            <li>Type: Web (Flash)</li>
            <li>Client: UGD Optics</li>
            <li>Tech: Flash</li>
          </ul>
          <div class="line"></div>
      </div>

      <div class="clearfix"></div>
  </section>


</body>
</html>
