<div class="frame padbot">
  <div class="heading shops">
    <img src="assets/img/totem-red.png" alt="Totem Rouge" class="icon" />
    <div class="title bigmarginbot">Les tribus : {{site.nomSite}}</div>
    <div class="clearfix"></div>
  </div>

  <div class="topright">
    <div class="flipcards">
      <img src="assets/img/cards.png" alt="Cartes" ng-show="!disableDND"/>
      <img src="assets/img/cards-green.png" alt="Cartes" ng-show="disableDND"/>
      <a href="#" ng-click="toggleDND()" class="fh" flipcards>Retourner les cartes</a>
    </div>
    <div class="noobs">
      <div class="hc" ng-class="{active: site.noobs.length > 0}">
        <img src="assets/img/tipi-grey.png" alt="Tipi" ng-show="site.noobs.length == 0"/>
        <img src="assets/img/tipi-green.png" alt="Tipi" ng-show="site.noobs.length > 0"//>
        <div class="fh">Nouveaux arrivants dans la tribu</div>
      </div>
      <div class="noobs-list" ng-if="site.noobs.length > 0">
        <img src="assets/img/arrow-down.png" alt="Flèche Bas" />
        <ul dnd-list="site.noobs">
          <li class="noob"
            ng-repeat="noob in site.noobs"
            dnd-draggable="noob"
            dnd-moved="noobMoved(site.noobs, $index)"
            dnd-effect-allowed="move"
            dnd-disable-if="disableDND"
          >
            <a>
              <div class="name">{{noob.rh_prenom}} {{noob.rh_nom}}</div>
              <div class="job">{{noob.rh_poste}}</div>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>

  <ul>
    <li class="flip-container">
      <div class="flipper">
        <div class="front card red">
          <img src="assets/img/grand-chef.png" alt="Grand Chef" class="icon-chief"/>
          <a class="avatar" ng-click="launchUploader(site.big_chief.rh_matricule)" avatar-hover="'assets/img/' + site.big_chief.app_avatar">
            <img ng-src="{{'assets/img/' + site.big_chief.app_avatar}}" alt="Avatar" />
          </a>
          <div class="inner">
            <div class="heading">
              <div class="name">{{site.big_chief.rh_prenom}} {{site.big_chief.rh_nom}}</div>
              <div class="job">{{site.big_chief.rh_poste}}</div>
            </div>
            <form ng-submit="updateCard(site.big_chief.rh_matricule, site.big_chief)">
              <div class="form-group noinput">
                <label>Ancienneté :</label>
                <span class="input-placeholder">{{site.big_chief.rh_dateDebutContrat}}</span>
              </div>
              <div class="form-group noinput">
                <label>Entrée au poste :</label>
                <span class="input-placeholder">{{site.big_chief.rh_dateEntreePoste}}</span>
              </div>
              <div class="form-group">
                <label>Tél :</label>
                <input type="text"  ng-model="site.big_chief.mag_telFixe">
              </div>
              <div class="form-group">
                <label>Port. :</label>
                <input type="text" ng-model="site.big_chief.mag_telPortable">
              </div>
              <div class="form-group">
                <label>Mail :</label>
                <input type="text" ng-model="site.big_chief.mag_eMail">
              </div>
              <div class="form-group">
                <label>Rayons :</label>
                <input type="text" ng-model="site.big_chief.mag_rayons">
              </div>
              <button type="submit" class="btn-update"><i class="icon ion-ios-loop-strong"></i></button>
            </form>
          </div>
        </div>
        <div class="back card red">
          <div class="inner alias">
            <div class="heading">
              <div class="alias">{{site.big_chief.rh_prenom}} {{site.big_chief.rh_nom}} alias</div>
              <input type="text" class="name cleanput" ng-model="site.big_chief.app_pseudo" ng-blur="updatePseudo(site.big_chief)">
              <div class="job">{{site.big_chief.rh_poste}}</div>
            </div>
            <div class="alias-face" style="background-image: url(assets/img/test/{{site.big_chief.app_aliasAvatar}})">
              <a ng-click="launchUploader(site.big_chief.rh_matricule, true)"><img src="assets/img/pen.png" alt="Editer" /></a>
            </div>
          </div>
        </div>
      </div>
    </li>
    <li class="clearfix"></li>
  </ul>

  <div class="tribe" ng-repeat="tribe in site.tribes">
    <div class="line"></div>
    <div class="tribe-options">
      <a ng-click="moveTribeUp($index)" ng-if="!$first"><i class="ion-arrow-up-b"></i></a>
      <a ng-click="moveTribeDown($index)" ng-if="!$last"><i class="ion-arrow-down-b"></i></a>
      <a ng-click="deleteTribe($index, tribe)"><i class="ion-trash-a"></i></a>
    </div>
    <div class="heading sub">
      <img src="assets/img/tipi-red.png" alt="Tipi Rouge" class="icon" />
      <input type="text" ng-model="tribe.name" class="title">
      <div class="clearfix"></div>
    </div>

    <div class="padder">
      <ul dnd-list="tribe.members" class="nopadding">
        <li id="{{member.rh_matricule}}"
          class="flip-container"
          ng-repeat="member in tribe.members"
          dnd-draggable="member"
          dnd-moved="tribe.members.splice($index, 1)"
          dnd-effect-allowed="move"
          dnd-disable-if="disableDND"
        >
          <div class="flipper">
            <div class="card front" ng-class="{blue: member.app_rang == 'chief'}">
              <a ng-click="setNewChief(tribe, member)" class="btn-chief" ng-class="{'is-chief': member.app_rang == 'chief'}">
                <img src="assets/img/chef.png" alt="Chef" class="icon-chief"/>
              </a>
              <a class="avatar" ng-click="launchUploader(member.rh_matricule, false)" avatar-hover="'assets/img/' + member.app_avatar">
                <img ng-src="{{'assets/img/' + member.app_avatar}}" alt="Avatar" />
              </a>
              <div class="inner">
                <div class="heading">
                  <div class="name">{{member.rh_prenom}} {{member.rh_nom}}</div>
                  <div class="job">{{member.rh_poste}}</div>
                </div>
                <form ng-submit="updateCard(member.rh_matricule, member)">
                  <div class="form-group noinput">
                    <label>Ancienneté :</label>
                    <span class="input-placeholder">{{member.rh_dateDebutContrat}}</span>
                  </div>
                  <div class="form-group noinput">
                    <label>Entrée au poste :</label>
                    <span class="input-placeholder">{{member.rh_dateEntreePoste}}</span>
                  </div>
                  <div class="form-group">
                    <label>Tél :</label>
                    <input type="text"  ng-model="member.mag_telFixe" ng-focus="toggleDND()" ng-blur="toggleDND()">
                  </div>
                  <div class="form-group">
                    <label>Port. :</label>
                    <input type="text" ng-model="member.mag_telPortable" ng-focus="toggleDND()" ng-blur="toggleDND()">
                  </div>
                  <div class="form-group">
                    <label>Mail :</label>
                    <input type="text" ng-model="member.mag_eMail" ng-focus="toggleDND()" ng-blur="toggleDND()">
                  </div>
                  <div class="form-group">
                    <label>Rayons :</label>
                    <input type="text" ng-model="member.mag_rayons" ng-focus="toggleDND()" ng-blur="toggleDND()">
                  </div>
                  <button type="submit" class="btn-update"><i class="icon ion-ios-loop-strong"></i></button>
                </form>
              </div>
            </div>
            <div class="card back" ng-class="{blue: member.app_rang == 'chief'}">
              <div class="inner alias">
                <div class="heading">
                  <div class="alias">{{member.rh_prenom}} {{member.rh_nom}} alias</div>
                  <input type="text" class="name cleanput" ng-model="member.app_pseudo" ng-blur="updatePseudo(member)">
                  <div class="job">{{member.rh_poste}}</div>
                </div>
                <div class="alias-face" style="background-image: url(assets/img/test/{{member.app_aliasAvatar}})">
                  <a ng-click="launchUploader(member.rh_matricule, true)"><img src="assets/img/pen.png" alt="Editer" /></a>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="clearfix"></li>
      </ul>
    </div>
  </div>

  <button type="button" class="create-tribe" ng-click="createTribe()">Créer une nouvelle tribu</button>
</div>

<div class="upload-modal" ng-show="displayUploader">
  <div class="inner">
    <a ng-click="displayUploader = false" class="btn-close"><i class="icon ion-close"></i></a>
    <div class="heading">
      <i class="icon ion-person"></i> Changer son avatar
    </div>
    <p ng-show="!isAlias">(charger une image au format : 60 x 60px)</p>
    <p ng-show="isAlias">(charger une image au format : 245 x 225px)</p>
    <hr>
    <form ng-submit="updateAvatar()">
      <input type="file" onchange="angular.element(this).scope().avatarChanged(this)" accept="image/*">
      <button type="submit">Envoyer</button>
    </form>
  </div>
</div>
