@import "../../bower_components/bulma/sass/utilities/_all";
@import "../../bower_components/bulma/sass/grid/columns.sass";

html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    color: #0021FF;
    background-color: #ececec;
}

a, a:hover, a:active{
    color: #0021FF;
}

h1, h2, h3, h4{
  font-weight: 900;
}

ul{
  margin: 0;
  padding: 0;
}

li{
  list-style: none;
}

.logo-tl{
  width: 20px;
  float: left;
  margin-right: 8px;
}

.navbar{
    padding: 20px 50px;
    width: calc(100% - 100px);
    position: fixed;
    background-color: #ececec;
    z-index: 9999;

    a{
      font-weight: 700;
    }
}

.title{
    font-weight: 100;
    font-size: 16px;
    margin: 0;
    float: left;
}

.social{
    float: right;
    font-size: 20px;

    a{
        color: #0021FF;
        margin-right: 5px;
        text-decoration: none;
        font-size: 14px;
        font-weight: 300;
    }
}

/*.contact{
    padding: 0 10px;
    color: #B5865A;
    text-decoration: none;
    border-radius: 99px;
    border: 1px solid #B5865A;
    font-size: 14px;
    transition: all 100ms;
}
.contact:hover{
    color: rgb(10, 13, 97);
    background-color: #B5865A;
}*/

header, footer{
    padding: 50px;
}

.header{
    min-height: 100%;

    .desc{
        width: 35%;
        margin-top: 50px;
        font-weight: 100;
        font-size: 112px;
        font-style: italic;
        float: right;
        /* background: -webkit-linear-gradient(#B5865A, rgb(10, 13, 97));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent; */
    }
}

#logo{
    width: 18px;
    float: left;
    margin-top: 3px;
    margin-right: 5px;
    display: none;
}

section{
    padding: 0 50px;
}

.section-title{
    text-align: center;
    margin: 100px 0;
    font-size: 112px;
    color: white;
    font-weight: 100;
}

.frame{
    width: 60%;
    margin: 50px 0;
    float: left;

    &.odd{
        float: right;
    }

    .title{
        float: none;
        font-size: 35px;
        margin: 5px 0;
    }

    .desc{
      font-weight: 300;
      font-size: 14px;
    }

    .line{
        width: 100%;
        height: 20px;
        background: linear-gradient(to right, #fff, #ececec);
    }
}

.digest{
  max-width: 640px;
  margin: 0 auto;
  font-weight: 300;
  font-size: 14px;
  margin-bottom: 50px;
}

.skills{

    .title{
      float: none;
      margin-bottom: 20px;
    }

    li{
      font-size: 14px;
      font-weight: 300;
    }
}

.date{
    font-size: 12px;
    font-weight: 300;
}

.company{
    font-size: 16px;
    margin-bottom: 10px;
    font-weight: 700;
    font-style: italic;
}

#sculpture{
    position: absolute;
    top: 65px;
    left: 0;
    z-index: -1;
}

.thumb{
    width: 200px;
    height: 150px;
    background: no-repeat center;
    background-size: contain;
    margin-bottom: 15px;

    -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

.clearfix{
    clear: both;
}
