@font-face {
  font-family: 'gotham_bookregular';
  src: url("../fonts/gotham_book-webfont.eot");
  src: url("../fonts/gotham_book-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham_book-webfont.woff2") format("woff2"), url("../fonts/gotham_book-webfont.woff") format("woff"), url("../fonts/gotham_book-webfont.ttf") format("truetype"), url("../fonts/gotham_book-webfont.svg#gotham_bookregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'gotham_blackregular';
  src: url("../fonts/gotham-black-webfont.eot");
  src: url("../fonts/gotham-black-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham-black-webfont.woff2") format("woff2"), url("../fonts/gotham-black-webfont.woff") format("woff"), url("../fonts/gotham-black-webfont.ttf") format("truetype"), url("../fonts/gotham-black-webfont.svg#gotham_blackregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'gotham_boldregular';
  src: url("../fonts/gotham-bold-webfont.eot");
  src: url("../fonts/gotham-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham-bold-webfont.woff2") format("woff2"), url("../fonts/gotham-bold-webfont.woff") format("woff"), url("../fonts/gotham-bold-webfont.ttf") format("truetype"), url("../fonts/gotham-bold-webfont.svg#gotham_boldregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'gotham_lightregular';
  src: url("../fonts/gotham-light-webfont.eot");
  src: url("../fonts/gotham-light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham-light-webfont.woff2") format("woff2"), url("../fonts/gotham-light-webfont.woff") format("woff"), url("../fonts/gotham-light-webfont.ttf") format("truetype"), url("../fonts/gotham-light-webfont.svg#gotham_lightregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'gotham_mediumregular';
  src: url("../fonts/gotham-medium-webfont.eot");
  src: url("../fonts/gotham-medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/gotham-medium-webfont.woff2") format("woff2"), url("../fonts/gotham-medium-webfont.woff") format("woff"), url("../fonts/gotham-medium-webfont.ttf") format("truetype"), url("../fonts/gotham-medium-webfont.svg#gotham_mediumregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'lorabold';
  src: url("../fonts/lora-bold-webfont.eot");
  src: url("../fonts/lora-bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lora-bold-webfont.woff2") format("woff2"), url("../fonts/lora-bold-webfont.woff") format("woff"), url("../fonts/lora-bold-webfont.ttf") format("truetype"), url("../fonts/lora-bold-webfont.svg#lorabold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'lorabold_italic';
  src: url("../fonts/lora-bolditalic-webfont.eot");
  src: url("../fonts/lora-bolditalic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lora-bolditalic-webfont.woff2") format("woff2"), url("../fonts/lora-bolditalic-webfont.woff") format("woff"), url("../fonts/lora-bolditalic-webfont.ttf") format("truetype"), url("../fonts/lora-bolditalic-webfont.svg#lorabold_italic") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'loraitalic';
  src: url("../fonts/lora-italic-webfont.eot");
  src: url("../fonts/lora-italic-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lora-italic-webfont.woff2") format("woff2"), url("../fonts/lora-italic-webfont.woff") format("woff"), url("../fonts/lora-italic-webfont.ttf") format("truetype"), url("../fonts/lora-italic-webfont.svg#loraitalic") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'loraregular';
  src: url("../fonts/lora-regular-webfont.eot");
  src: url("../fonts/lora-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/lora-regular-webfont.woff2") format("woff2"), url("../fonts/lora-regular-webfont.woff") format("woff"), url("../fonts/lora-regular-webfont.ttf") format("truetype"), url("../fonts/lora-regular-webfont.svg#loraregular") format("svg");
  font-weight: normal;
  font-style: normal; }
/*------------------------*/
/* COLORS */
/*------------------------*/
/* METRICS */
/*------------------------*/
/* MIXINS */
.clearfix {
  clear: both; }

.nofloat {
  float: none; }

.center-text {
  text-align: center; }

.mobile-cover {
  width: 100%; }

#slider-mob {
  display: none;
  width: 100%;
  position: relative; }
  #slider-mob .bufferslide {
    width: 100%;
    opacity: 0;
    visibility: hidden; }
  #slider-mob .slidemob {
    width: 100%;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 250ms; }
    #slider-mob .slidemob.visible {
      opacity: 1;
      visibility: visible; }

.visible-xs, .visible-s {
  display: none; }

/*------------------------*/
/* BASE */
html, body {
  width: 100%;
  height: 100%;
  font-family: 'gotham_bookregular', sans-serif;
  color: #000;
  font-weight: 400; }

h1, h2, h3, h4, h5 {
  font-weight: 400;
  margin: 0;
  letter-spacing: 3px; }

a {
  transition: all 150ms; }

a, a:hover, a:visited {
  color: #000;
  text-decoration: none; }

ul {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

/*------------------------*/
/* FORMS */
a.btn, button.btn {
  background-color: #000;
  color: #fff;
  font-family: 'gotham_bookregular', sans-serif;
  text-transform: uppercase;
  padding: 15px 45px;
  font-size: 17px;
  display: inline-block;
  border: none;
  transition: all 150ms;
  letter-spacing: 2.5px; }
  a.btn.colored, button.btn.colored {
    background-color: #e4c6b6;
    color: #000; }
    a.btn.colored:hover, button.btn.colored:hover {
      background-color: #fff;
      color: #000; }
  a.btn:hover, button.btn:hover {
    background-color: #e4c6b6;
    color: #000; }

.error {
  color: #ff0000; }

label {
  display: block;
  margin-bottom: 10px;
  text-align: left; }

.form-group {
  margin: 25px 0; }
  .form-group input[type=text], .form-group input[type=email], .form-group input[type=password] {
    width: calc(100% - 20px);
    height: 22px; }

input[type=text], input[type=email], input[type=password] {
  border: none;
  width: 280px;
  max-width: 280px;
  height: 29px;
  padding: 10px;
  font-size: 18px;
  border-bottom: 1px solid #fff;
  transition: all 150ms;
  outline: none; }
  input[type=text]:focus, input[type=email]:focus, input[type=password]:focus {
    background: none;
    border-bottom: 1px solid; }

select {
  border: none;
  padding: 10px; }

/*------------------------*/
/* HEADER */
.logo {
  width: 186px;
  margin: 0 auto;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 18px;
  z-index: 900; }

nav {
  position: absolute;
  top: 0; }
  nav .btn-nav {
    position: fixed;
    top: calc(50% - 20px); }
    nav .btn-nav:hover {
      color: #e4c6b6; }
  nav #btn-burger {
    left: 11px;
    font-size: 35px; }
  nav #btn-basket {
    right: 10px;
    font-size: 30px; }

.menu {
  width: 50%;
  height: 100%;
  position: fixed;
  top: 0;
  left: -50%;
  background-color: #e4c6b6;
  z-index: 999;
  -webkit-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  /* easeOutExpo */
  -webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -moz-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  -o-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  /* easeOutExpo */ }
  .menu.visible {
    left: 0; }
  .menu a:hover {
    color: #fff; }
  .menu .menu-inner {
    margin: 90px 0 0 90px;
    font-size: 35px; }
  .menu .big-list {
    font-family: 'gotham_boldregular', sans-serif;
    text-transform: uppercase;
    font-size: 20px; }
    .menu .big-list li {
      margin: 30px 0; }
  .menu .small-list {
    font-family: 'loraregular', serif;
    font-size: 15px;
    margin-top: 40px; }
    .menu .small-list li {
      margin: 5px 0; }

/*------------------------*/
/* MAIN */
.main-container {
  width: calc(100% - 45px * 2);
  margin: 0 auto; }

/*------------------------*/
/* FOOTER */
.footer {
  background-color: #e4c6b6;
  padding: 45px;
  margin: 0 45px; }
  .footer h2 {
    font-family: 'gotham_boldregular';
    text-transform: uppercase;
    font-size: 17px; }
  .footer h3 {
    font-size: 13px;
    margin-top: 15px; }
  .footer li {
    font-size: 13px;
    margin: 15px 0; }
  .footer .form-control {
    margin-top: 15px; }
  .footer .logo-container {
    float: left;
    margin-right: 45px; }
    .footer .logo-container img {
      width: 158px; }
  .footer .list {
    float: left;
    margin-right: 15px; }
  .footer .optin {
    float: right; }
  .footer .btn:hover {
    background-color: #fff; }
  .footer input {
    width: 208px; }
  .footer .btn {
    padding: 15px; }

/*------------------------*/
/* HOME */
.big-call {
  width: calc(100% - 90px);
  height: calc(100% - 45px);
  font-family: 'gotham_lightregular', sans-serif;
  font-weight: 100;
  text-align: center;
  position: relative;
  margin-top: 45px;
  margin-left: 45px;
  color: #fff; }
  .big-call .inner {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
  .big-call .title {
    font-family: 'loraregular', sans-serif;
    font-size: 35px;
    margin: 15px 0; }
  .big-call h2 {
    font-size: 20px; }
  .big-call .call-container {
    margin-top: 80px; }
  .big-call .godown {
    position: absolute;
    bottom: 15px;
    font-size: 45px;
    margin-left: -15px;
    color: #fff; }
    .big-call .godown:hover {
      color: #e4c6b6; }

.cover-video-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
  background-color: #e4c6b6; }

.cover-video {
  /* Make video to at least 100% wide and tall */
  min-width: 100%;
  min-height: 100%;
  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: auto;
  height: auto;
  /* Center the video */
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0); }

.home .fifty-fifty .left {
  width: calc(50% - 90px);
  float: left;
  font-family: 'loraregular', serif;
  text-align: center;
  font-size: 17px;
  padding: 45px; }
  .home .fifty-fifty .left .italic {
    font-family: 'loraitalic', serif; }
.home .fifty-fifty .right {
  width: 50%;
  height: 800px;
  float: right;
  background: url(../img/photos/fifty-home.jpg) no-repeat center;
  background-size: cover; }
.home .fifty-fifty .steps {
  width: 80%;
  margin: 50px auto; }
.home .fifty-fifty .step {
  margin: 35px; }
.home .fifty-fifty .img-container {
  width: 30%;
  float: left;
  text-align: center;
  padding-top: 10px; }
.home .fifty-fifty .description {
  text-align: left;
  width: 70%;
  float: right; }
.home .fifty-fifty .digit {
  font-family: 'loraitalic', serif;
  font-size: 30px; }
.home .fifty-fifty .text, .home .fifty-fifty p {
  font-family: 'gotham_bookregular', serif;
  font-size: 15px; }
.home .big-dress {
  height: 720px;
  position: relative;
  text-align: center;
  padding: 45px; }
  .home .big-dress img {
    width: 100%;
    max-width: 1268px;
    min-width: 800px; }
  .home .big-dress .sub {
    position: absolute;
    bottom: 45px;
    left: 45px;
    text-align: left;
    width: 350px; }
    .home .big-dress .sub .title {
      font-family: 'gotham_blackregular';
      font-size: 35px;
      text-transform: uppercase; }
    .home .big-dress .sub .number {
      font-family: 'loraregular';
      font-size: 28px;
      margin: 5px 0 30px 0; }
  .home .big-dress .boost-link {
    text-align: left;
    width: 25%;
    position: absolute;
    right: 45px;
    z-index: 4000; }
    .home .big-dress .boost-link .try {
      font-family: 'loraitalic';
      font-size: 35px; }
    .home .big-dress .boost-link .boost {
      font-family: 'gotham_bookregular';
      font-size: 40px;
      text-transform: uppercase;
      margin-top: 5px; }
    .home .big-dress .boost-link .arrow {
      font-size: 50px;
      margin-left: 100px; }
    .home .big-dress .boost-link:hover {
      color: #e4c6b6; }
  .home .big-dress .grey-frame {
    width: 75%;
    height: 100%;
    background-color: #f2f2f2;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1; }
.home .manifesto {
  width: 100%;
  background: url(../img/photos/manifesto.jpg) no-repeat center fixed;
  background-size: cover;
  text-align: center;
  padding: 265px 0; }
  .home .manifesto .txt {
    float: right;
    margin-right: 35%; }
  .home .manifesto h2 {
    font-size: 60px;
    font-family: 'gotham_lightregular'; }
    .home .manifesto h2 .bold {
      font-family: 'gotham_boldregular'; }
  .home .manifesto h3 {
    font-size: 20px;
    margin-top: 10px;
    font-family: 'loraregular'; }
    .home .manifesto h3 .italic {
      font-family: 'loraitalic'; }
.home .howto {
  text-align: center;
  padding-bottom: 45px; }
  .home .howto h2, .home .howto .sub {
    font-size: 30px;
    font-family: 'loraregular';
    margin: 45px 0; }
    .home .howto h2 .italic, .home .howto .sub .italic {
      font-family: 'loraitalic'; }
  .home .howto .sub {
    font-size: 22px; }
  .home .howto h3 {
    font-family: 'gotham_boldregular';
    font-size: 15px;
    margin: 10px 0 5px 0; }
  .home .howto h4 {
    font-size: 14px; }
  .home .howto .row {
    margin-bottom: 45px; }
  .home .howto .col {
    width: 33.3333333333%;
    float: left;
    text-align: center; }
    .home .howto .col img {
      width: 90%; }
  .home .howto .desc {
    text-align: left;
    width: 80%;
    margin: 0 auto; }

.insta {
  background-color: #f2f2f2;
  text-align: center;
  padding: 45px 0; }
  .insta h2 {
    font-size: 40px;
    text-transform: uppercase;
    font-family: 'gotham_boldregular'; }
  .insta h3 {
    font-size: 22px;
    font-family: 'loraitalic'; }

#instafeed {
  margin-bottom: -3px; }

.instathumb {
  width: 25%; }

#back {
  display: none; }

/*------------------------*/
/* PRODUCT */
.product {
  width: calc(100% - 45px * 2);
  height: calc(100% - 45px * 2);
  margin: 45px;
  height: 1000px;
  display: table; }
  .product .slide {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    background: no-repeat center;
    background-size: cover;
    opacity: 0;
    visibility: hidden;
    transition: all 250ms; }
    .product .slide.visible {
      opacity: 1;
      visibility: visible; }
  .product .arrowback {
    position: absolute;
    top: 50%;
    left: 15px;
    font-size: 40px;
    color: #fff; }
  .product .arrowfor {
    position: absolute;
    top: 50%;
    right: 15px;
    font-size: 40px;
    color: #fff; }
  .product .product-slider {
    width: 50%;
    height: 100%;
    position: relative;
    display: table-cell; }
  .product .product-image {
    width: 100%;
    height: 100%;
    background: no-repeat center;
    background-size: cover; }
  .product .product-details {
    width: 100%;
    height: 100%;
    float: right;
    background-color: #f2f2f2;
    text-align: center; }
    .product .product-details .inner {
      padding-top: 90px; }
    .product .product-details .title {
      font-size: 38px;
      font-family: 'gotham_bookregular';
      text-transform: uppercase; }
    .product .product-details .subtitle {
      font-size: 17px; }
    .product .product-details .price {
      font-family: 'loraregular';
      color: #8c8c8c;
      margin: 15px 0; }
    .product .product-details .meter {
      width: 280px;
      height: 15px;
      margin: 15px auto; }
      .product .product-details .meter .track, .product .product-details .meter .val {
        width: 100%;
        height: 100%;
        border-radius: 99px;
        background-color: #fff; }
      .product .product-details .meter .val {
        width: 34%;
        background-color: #000; }
    .product .product-details .out-of-stock {
      width: 70%;
      margin: 40px auto; }
      .product .product-details .out-of-stock .red {
        color: #ff0000; }
    .product .product-details .order {
      width: 70%;
      margin: 40px auto; }
      .product .product-details .order .btn {
        float: none; }
      .product .product-details .order .input {
        width: 50%;
        margin-bottom: 30px; }
        .product .product-details .order .input .label {
          text-transform: uppercase;
          font-size: 15px;
          margin-bottom: 15px; }
      .product .product-details .order .input-size {
        float: left; }
        .product .product-details .order .input-size.nofloat {
          float: none;
          width: 100%; }
        .product .product-details .order .input-size button {
          background-color: #f2f2f2;
          border: 1px solid #f2f2f2;
          width: 40px;
          height: 40px;
          text-align: center; }
          .product .product-details .order .input-size button:hover {
            border-color: #fff; }
          .product .product-details .order .input-size button.active {
            background-color: #fff; }
      .product .product-details .order .input-color {
        float: right; }
        .product .product-details .order .input-color .btn-color {
          background-color: #000;
          border: 10px solid #f2f2f2;
          width: 25px;
          height: 25px;
          display: inline-block; }
          .product .product-details .order .input-color .btn-color.red {
            background-color: #ff3f32; }
          .product .product-details .order .input-color .btn-color:hover, .product .product-details .order .input-color .btn-color.active {
            border-color: #fff; }
    .product .product-details .accordion {
      width: 70%;
      margin: 0 auto;
      text-align: left;
      margin-bottom: 45px;
      border-top: 1px solid #000; }
      .product .product-details .accordion .tablink {
        width: 100%;
        display: block;
        padding: 15px 0;
        text-transform: uppercase;
        border-bottom: 1px solid #000;
        font-family: 'gotham_boldregular'; }
        .product .product-details .accordion .tablink i {
          float: right;
          margin-right: 15px;
          pointer-events: none; }
      .product .product-details .accordion p {
        display: none;
        border-bottom: 1px solid #000;
        margin-bottom: 0;
        padding-bottom: 15px; }

.look {
  margin: 19px auto -3px auto;
  position: relative; }
  .look .title {
    text-transform: uppercase;
    font-family: 'gotham_boldregular';
    font-size: 60px;
    position: absolute;
    top: -33px;
    left: 45px; }
  .look .big-img {
    width: 100%;
    margin-bottom: -3px; }

.more-boost {
  text-align: center;
  margin: 45px; }
  .more-boost .title {
    text-transform: uppercase;
    font-size: 28px;
    background-color: #fff;
    padding: 0 15px;
    position: relative;
    z-index: 2;
    display: inline-block; }
  .more-boost .line {
    border-top: 1px solid #000;
    position: relative;
    top: -16px; }
  .more-boost .subproducts {
    margin-top: 45px;
    height: 250px; }
    .more-boost .subproducts .subprod {
      width: 50%;
      height: 100%; }
      .more-boost .subproducts .subprod.left {
        float: left; }
      .more-boost .subproducts .subprod.right {
        float: right; }
      .more-boost .subproducts .subprod .thumb-holder {
        width: 50%;
        height: 100%;
        float: left;
        text-align: center; }
      .more-boost .subproducts .subprod .thumb {
        position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%); }
      .more-boost .subproducts .subprod .details {
        width: 50%;
        float: right;
        padding-top: 45px;
        text-align: left; }
        .more-boost .subproducts .subprod .details .subprod-title {
          font-family: 'loraitalic';
          font-size: 30px; }
        .more-boost .subproducts .subprod .details .desc {
          font-family: 'gotham_lightregular'; }
        .more-boost .subproducts .subprod .details .price {
          font-family: 'loraregular';
          color: #8c8c8c;
          font-size: 25px;
          margin: 15px 0; }

/*------------------------*/
/* HIGH BOOST */
.high-boost {
  width: calc(100% - 45px * 2);
  height: calc(100% - 45px * 2);
  margin: 45px;
  text-align: center; }
  .high-boost .title {
    position: absolute;
    width: 500px;
    margin: auto;
    left: 0;
    right: 0;
    top: 20%;
    text-transform: uppercase;
    font-family: 'gotham_boldregular';
    font-size: 45px; }
    .high-boost .title .italic {
      font-family: 'loraitalic';
      font-size: 27px;
      text-transform: lowercase;
      display: block; }
  .high-boost .frame {
    width: 50%;
    height: 100%; }
  .high-boost .left {
    float: left;
    background: url(../img/photos/high-boost-left.jpg) no-repeat center;
    background-size: cover; }
  .high-boost .right {
    float: right;
    background: url(../img/photos/high-boost-right.jpg) no-repeat center;
    background-size: cover; }
  .high-boost a.btn {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }

/*------------------------*/
/* LOOKBOOK */
.lookbook {
  width: calc(100% - 45px * 2);
  height: calc(100% - 45px * 2);
  margin: 45px; }
  .lookbook #back, .lookbook #forward {
    font-size: 40px;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    z-index: 200; }
    .lookbook #back:hover, .lookbook #forward:hover {
      color: #e4c6b6; }
  .lookbook #back {
    left: 60px;
    display: none; }
  .lookbook #forward {
    right: 60px; }

.slide {
  width: calc(100% - 45px * 2);
  height: calc(100% - 45px * 2);
  position: absolute;
  background: no-repeat center;
  background-size: cover;
  opacity: 0;
  visibility: none;
  transition: all 250ms; }
  .slide.visible {
    opacity: 1;
    visibility: visible; }

/*------------------------*/
/* SIZESTABLE */
.sizes-table {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 9999;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: all 300ms; }
  .sizes-table.visible {
    opacity: 1;
    visibility: visible; }
  .sizes-table .frame {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    position: absolute;
    width: 70%;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #e4c6b6;
    text-align: center;
    padding: 45px 0; }
    .sizes-table .frame .btn-close {
      position: absolute;
      top: 5px;
      right: 15px;
      font-size: 40px;
      transition: color 150ms; }
      .sizes-table .frame .btn-close:hover {
        color: #fff; }
    .sizes-table .frame .title {
      text-transform: uppercase;
      font-size: 35px; }
    .sizes-table .frame .subtitle {
      font-size: 20px;
      font-family: 'loraitalic';
      margin: 15px 0 45px 0; }
    .sizes-table .frame .table {
      width: 80%;
      margin: auto;
      text-transform: uppercase; }
      .sizes-table .frame .table .col {
        float: left;
        height: 50px;
        line-height: 50px;
        font-size: 14px; }
        .sizes-table .frame .table .col.head {
          border-bottom: 1px solid #f2f2f2; }
      .sizes-table .frame .table .col-1 {
        width: 14.2857142857%; }
        .sizes-table .frame .table .col-1.head {
          font-family: 'gotham_boldregular'; }
      .sizes-table .frame .table .col-2 {
        width: calc(28.5714285714% - 1px);
        border-right: 1px solid #f2f2f2; }
        .sizes-table .frame .table .col-2.head img {
          width: 80px; }

/*------------------------*/
/* LOGIN - SIGNUP - ACCOUNT - ORDER */
.login, .signup, .account, .order {
  width: calc(100% - 45px * 2);
  height: calc(100% - 45px * 2);
  margin: 45px;
  min-height: calc(100% - 45px * 2);
  height: auto;
  background-color: #f2f2f2;
  text-align: center; }
  .login .inner, .signup .inner, .account .inner, .order .inner {
    margin: 135px 0 45px;
    display: inline-block;
    width: 555px;
    text-align: left; }
  .login .title, .signup .title, .account .title, .order .title {
    font-family: 'gotham_boldregular';
    text-transform: uppercase;
    font-size: 40px;
    margin-bottom: 45px;
    text-align: center; }
  .login .btn, .signup .btn, .account .btn, .order .btn {
    float: left; }
    .login .btn.nofloat, .signup .btn.nofloat, .account .btn.nofloat, .order .btn.nofloat {
      float: none; }
    .login .btn.btn-login, .signup .btn.btn-login, .account .btn.btn-login, .order .btn.btn-login {
      margin-right: 15px; }
  .login .pass-forgot, .signup .pass-forgot, .account .pass-forgot, .order .pass-forgot {
    text-decoration: underline;
    font-size: 12px; }

/*------------------------*/
/* ACCOUNT - ORDER */
.account .inner, .order .inner {
  width: 70%; }
.account label, .order label {
  text-transform: uppercase;
  font-family: 'gotham_boldregular'; }
.account .tabs, .order .tabs {
  margin-bottom: 45px; }
  .account .tabs a, .account .tabs .tab, .order .tabs a, .order .tabs .tab {
    font-family: 'loraitalic';
    font-size: 20px;
    width: 25%;
    margin: 0;
    display: block;
    text-align: center;
    float: left;
    padding-bottom: 10px; }
    .account .tabs a.active, .account .tabs .tab.active, .order .tabs a.active, .order .tabs .tab.active {
      border-bottom: 10px solid #e4c6b6; }
  .account .tabs a:hover, .order .tabs a:hover {
    border-bottom: 10px solid #e4c6b6; }
.account .address .title, .order .address .title {
  font-size: 17px;
  text-align: left; }
.account .address .btn, .order .address .btn {
  margin-top: 45px; }
.account .col, .order .col {
  width: calc(50% - 30px);
  float: left;
  margin-right: 30px; }
.account .infos, .order .infos {
  height: 43px;
  line-height: 43px; }
.account .newsletter .label, .order .newsletter .label {
  text-transform: uppercase;
  font-family: 'gotham_boldregular';
  margin-bottom: 15px; }
.account .newsletter label, .order .newsletter label {
  font-family: 'gotham_bookregular';
  text-transform: none;
  display: inline-block; }
.account .newsletter input, .order .newsletter input {
  margin-right: 15px; }
.account .table, .order .table {
  width: 100%;
  text-align: center;
  margin-top: 45px;
  border: 1px solid #000; }
  .account .table a, .order .table a {
    text-decoration: underline; }
  .account .table .col, .order .table .col {
    float: left;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    margin: 0; }
    .account .table .col.head, .order .table .col.head {
      border-bottom: 1px solid #000;
      text-transform: uppercase; }
  .account .table .col-1, .order .table .col-1 {
    width: 16.6666666667%; }
    .account .table .col-1.head, .order .table .col-1.head {
      font-family: 'gotham_boldregular'; }

.order {
  height: auto; }
  .order .inner {
    transform: none;
    position: inherit;
    margin-top: 135px; }
  .order .tabs .tab {
    width: 33.3333333333%; }
  .order label {
    font-size: 13px; }
  .order .total {
    float: right;
    width: 300px; }
    .order .total .txt {
      float: left;
      font-family: 'gotham_boldregular';
      text-align: left;
      text-transform: uppercase; }
      .order .total .txt .sub {
        font-family: 'gotham_lightregular';
        font-size: 13px;
        margin-top: 5px;
        text-transform: none; }
    .order .total .price {
      font-family: 'gotham_boldregular'; }
  .order .heading {
    font-family: 'gotham_boldregular';
    text-transform: uppercase;
    margin-bottom: 15px; }
  .order .promo-code, .order .delivery-address {
    width: 400px;
    margin: 90px auto;
    text-align: center; }
  .order .promo-code .btn {
    float: right; }
  .order .confirm-cgu, .order .invoice-address, .order .estimated-delivery {
    text-align: left;
    font-size: 13px;
    margin: 15px 0; }
    .order .confirm-cgu a, .order .invoice-address a, .order .estimated-delivery a {
      text-decoration: underline; }
  .order .btn-order {
    margin: 15px 0; }
  .order .basket {
    width: 100%;
    text-align: center;
    margin-top: 45px;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    border-top: 1px solid #000; }
    .order .basket .thumb {
      width: 50px;
      float: left;
      margin-left: 20px;
      position: relative;
      top: 50%;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
    .order .basket .product-name {
      line-height: 1;
      margin-top: 18px; }
    .order .basket .size {
      font-family: 'gotham_lightregular';
      font-size: 13px;
      line-height: 1;
      margin-top: 5px; }
    .order .basket input[type=number] {
      width: 50px;
      background: none;
      border: 1px solid #000;
      padding: 10px;
      font-family: 'gotham_lightregular'; }
    .order .basket a {
      text-decoration: underline;
      font-family: 'gotham_lightregular';
      text-transform: none; }
    .order .basket .col {
      float: left;
      height: 125px;
      line-height: 60px;
      font-size: 14px;
      margin: 0; }
      .order .basket .col.head {
        border-bottom: 1px solid #000;
        text-transform: uppercase; }
    .order .basket .col-1 {
      width: 20%; }
      .order .basket .col-1.head {
        font-family: 'gotham_boldregular'; }
    .order .basket .col-2 {
      width: 40%; }
      .order .basket .col-2.head {
        font-family: 'gotham_boldregular'; }

.payment .addresses-table {
  width: 80%;
  margin: 45px auto;
  border: 1px solid #000; }
  .payment .addresses-table .heading {
    border-bottom: 1px solid #000;
    padding: 15px; }
  .payment .addresses-table .col {
    width: calc(50% - 1px);
    margin: 0; }
    .payment .addresses-table .col.left {
      float: left;
      border-right: 1px solid #000; }
    .payment .addresses-table .col.right {
      float: right; }
    .payment .addresses-table .col p {
      padding: 0 15px; }
.payment .payment-form {
  width: 400px;
  margin: 45px auto; }
  .payment .payment-form .heading {
    text-align: center;
    margin-bottom: 30px; }
.payment .payment-confirmed {
  width: 400px;
  margin: 45px auto; }
  .payment .payment-confirmed .details {
    border: 1px solid #000;
    margin-bottom: 15px; }
    .payment .payment-confirmed .details .heading {
      border-bottom: 1px solid #000;
      padding: 10px; }
    .payment .payment-confirmed .details p {
      padding: 10px; }

.static {
  width: calc(100% - 45px * 2);
  height: calc(100% - 45px * 2);
  margin: 45px;
  height: auto;
  background-color: #f2f2f2;
  text-align: center; }
  .static .inner {
    padding: 0 20% 20px 20%; }
  .static h1 {
    font-family: 'gotham_boldregular';
    text-transform: uppercase;
    font-size: 32px;
    padding-top: 100px;
    margin: 45px 0;
    letter-spacing: 1px; }
  .static h2 {
    font-family: 'loraitalic';
    color: #a6a6a6;
    font-size: 26px;
    letter-spacing: 2px; }
  .static p {
    padding-bottom: 45px;
    margin-bottom: 0;
    letter-spacing: 1px; }
  .static iframe, .static video {
    margin: 20px 0 45px 0;
    max-width: 100%; }

.three-quarter {
  width: 75%; }

.half {
  width: 50%; }

.right {
  float: right; }

.left {
  float: left; }

.newsletter-inscription {
  width: calc(100% - 45px * 2);
  height: calc(100% - 45px * 2);
  margin: 45px;
  background: url(../img/photos/newsletter.jpg) no-repeat center;
  background-size: cover; }
  .newsletter-inscription .inner {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    padding: 15px 45px 0 45px;
    background-color: white;
    display: inline-block;
    margin-left: 45px;
    width: 40%; }
  .newsletter-inscription input {
    border: 1px solid #000; }
  .newsletter-inscription p {
    line-height: 30px; }
  .newsletter-inscription .form-group {
    text-align: center; }

.thanku {
  width: calc(100% - 45px * 2);
  height: calc(100% - 45px * 2);
  margin: 45px;
  background: url(../img/photos/merci-desk.jpg) no-repeat center;
  background-size: cover;
  height: auto;
  padding-bottom: 45px;
  min-height: 100%; }
  .thanku .inner {
    padding: 100px 0 0 100px; }
  .thanku h1 {
    font-size: 50px; }
  .thanku p {
    line-height: 12px; }
  .thanku a {
    font-family: 'gotham_boldregular', sans-serif;
    text-decoration: underline; }

.coup-de-boost {
  width: calc(100% - 45px * 2);
  height: calc(100% - 45px * 2);
  margin: 45px;
  background: url(../img/photos/coupboost-desk.jpg) no-repeat center;
  background-size: cover;
  height: auto;
  padding-bottom: 45px;
  min-height: 100%; }
  .coup-de-boost .inner {
    padding: 100px 0 0 100px;
    width: 50%; }
  .coup-de-boost h1 {
    font-size: 41px; }
  .coup-de-boost h2 {
    font-family: 'loraitalic', serif;
    font-size: 30px;
    text-align: right; }
  .coup-de-boost p {
    line-height: 30px;
    margin: 45px 0; }
  .coup-de-boost a {
    font-family: 'gotham_boldregular', sans-serif;
    text-decoration: underline; }

.tech #btn-tech-top {
  position: fixed;
  right: 15px; }
.tech p {
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 1px;
  margin: 15px 0; }
  .tech p.last {
    margin-bottom: 45px; }
.tech img.fullscreen {
  width: 100%;
  max-width: 1193px;
  display: block; }
.tech .intro {
  margin-top: 45px;
  height: 460px;
  background: url(../img/photos/tech/tech-cover.jpg) no-repeat center;
  background-size: cover;
  text-align: center;
  padding: 300px 100px 0 100px; }
  .tech .intro h1 {
    text-transform: uppercase;
    font-size: 50px; }
  .tech .intro p {
    line-height: 30px;
    margin-top: 45px; }
.tech .techmenu {
  padding: 25px 0; }
  .tech .techmenu a {
    width: 16.6666666667%;
    font-family: 'gotham_boldregular', sans-serif;
    text-transform: uppercase;
    text-align: center;
    display: block;
    float: left;
    border-left: 4px solid #e4c6b6;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-size: 14px; }
    .tech .techmenu a.last {
      border-right: 4px solid #e4c6b6; }

/*------------------------*/
/* RESPONSIVE */
/*---------------------------*/
/* XS */
@media (max-width: 768px) {
  .hidden-xs {
    display: none; }

  .visible-xs {
    display: inherit; }

  .half, .three-quarter {
    width: auto; }

  a.btn, button.btn, a.btn.colored, button.btn.colored {
    width: 100%;
    max-width: 280px;
    padding: 15px 0; }

  body {
    padding-top: 45px; }

  header {
    height: 45px;
    background-color: #fff;
    z-index: 5000;
    position: fixed;
    top: 0;
    width: 100%; }

  nav .btn-nav {
    top: 5px; }

  .logo {
    width: 80px;
    top: 5px; }

  .menu {
    width: 100%;
    left: -100%; }
    .menu .menu-inner {
      margin: 45px 0 0 45px; }

  .title {
    font-size: 17px; }

  .main-container {
    width: 100%;
    margin: 0; }

  #slider-mob {
    display: block; }

  .big-call {
    width: 100%;
    margin-left: 0;
    background: none;
    height: auto;
    margin-top: 25px;
    color: #000; }
    .big-call .title {
      font-size: 30px; }
    .big-call .call-container {
      margin-top: 20px;
      margin-bottom: 25px; }
    .big-call .inner {
      position: inherit;
      transform: none; }
    .big-call .godown {
      display: none; }

  .cover-video-container {
    display: none; }

  .home .fifty-fifty .left {
    float: none;
    width: calc(100% - 30px);
    padding: 0 15px; }
    .home .fifty-fifty .left h2 {
      font-size: 26px;
      margin: 15px 0; }
    .home .fifty-fifty .left .row {
      margin-bottom: 15px; }
    .home .fifty-fifty .left .img-container {
      width: 25%;
      float: left;
      text-align: center;
      padding-top: 10px; }
      .home .fifty-fifty .left .img-container img {
        max-width: 100%; }
    .home .fifty-fifty .left .steps {
      width: 100%;
      margin: 0; }

  .home .fifty-fifty .right {
    display: none; }

  .home .big-dress {
    margin-top: 25px;
    padding: 0 20px;
    height: 1200px; }
    .home .big-dress .grey-frame {
      width: 100%; }
    .home .big-dress .slide {
      width: calc(100% - 20px * 2);
      height: 100%; }
    .home .big-dress img {
      margin-top: 90px;
      width: 65%;
      min-width: 0; }
    .home .big-dress .sub {
      text-align: center;
      width: 100%;
      position: inherit;
      bottom: 0;
      left: 0; }
      .home .big-dress .sub .title {
        font-size: 25px; }
      .home .big-dress .sub .number {
        font-size: 20px;
        margin: 0 10px; }
    .home .big-dress .boost-link {
      width: 220px;
      position: absolute;
      float: none;
      text-align: left;
      left: 20px;
      top: 20px;
      margin-right: 0; }
      .home .big-dress .boost-link .try, .home .big-dress .boost-link .boost, .home .big-dress .boost-link .arrow {
        font-size: 20px; }
    .home .big-dress .btn {
      margin-bottom: 25px; }

  .home .manifesto {
    padding: 0;
    height: 300px;
    background: url(../img/photos/manifesto-mobile.jpg) no-repeat top;
    background-size: cover; }
    .home .manifesto .txt {
      float: none;
      padding-top: 90px;
      color: #fff; }
      .home .manifesto .txt span {
        display: block; }
    .home .manifesto h2 {
      font-size: 25px; }
    .home .manifesto h3 {
      display: none; }

  .home .howto {
    padding-bottom: 20px; }
    .home .howto h2 {
      margin: 25px 0;
      font-size: 20px; }
    .home .howto .col {
      width: 100%;
      float: none;
      padding-bottom: 15px; }
    .home .howto .sub {
      margin: 20px 15px; }
    .home .howto .row {
      margin-bottom: 0; }
    .home .howto img {
      max-width: 100%; }

  .insta {
    padding: 20px 15px; }
    .insta h2 {
      font-size: 23px; }
    .insta h3 {
      font-size: 18px; }

  .instathumb {
    width: 50%; }

  .footer {
    margin: 0;
    text-align: center; }
    .footer .logo-container {
      margin: 0;
      float: none; }
      .footer .logo-container img {
        margin: 0; }
    .footer .list, .footer .optin {
      float: none; }
    .footer .list {
      margin: 30px 0; }
    .footer .optin input {
      width: calc(100% - 20px);
      margin: 0 0 15px 0;
      text-align: center; }

  .coup-de-boost {
    width: 100%;
    height: auto;
    margin: 0;
    background: url(../img/photos/coupboost-mob.jpg) no-repeat center;
    background-size: cover;
    padding-bottom: 0;
    min-height: 0; }
    .coup-de-boost .inner {
      width: calc(100% - 90px);
      padding: 45px;
      background-color: rgba(255, 255, 255, 0.5); }

  .newsletter-inscription {
    width: 100%;
    height: auto;
    margin: 0;
    background: url(../img/photos/newsletter-mob.jpg) no-repeat center;
    background-size: cover;
    padding-bottom: 0;
    min-height: 0; }
    .newsletter-inscription .inner {
      width: calc(100% - 90px);
      padding: 45px;
      margin: 0;
      background-color: rgba(255, 255, 255, 0.5);
      transform: none;
      position: inherit; }

  .thanku {
    width: 100%;
    height: auto;
    margin: 0;
    background: url(../img/photos/merci-mob.jpg) no-repeat center;
    background-size: cover;
    padding-bottom: 0;
    min-height: 0; }
    .thanku .inner {
      width: calc(100% - 90px);
      padding: 45px;
      background-color: rgba(255, 255, 255, 0.5); }

  .high-boost {
    width: 100%;
    height: auto;
    margin: 0; }
    .high-boost .title {
      position: inherit;
      width: 85%;
      font-size: 30px;
      margin: 30px auto; }
      .high-boost .title .italic {
        font-size: 20px;
        display: block; }
    .high-boost .frame {
      width: 100%;
      height: 500px;
      float: none; }

  .product {
    width: 100%;
    height: auto;
    margin: 0; }
    .product .product-slider {
      width: 100%;
      height: 490px;
      display: inherit; }
    .product .product-details .title {
      font-size: 38px; }
    .product .product-details .inner {
      padding-top: 30px; }

  .look .title {
    font-size: 40px;
    top: -25px;
    left: 0;
    text-align: center;
    width: 100%; }

  .more-boost .title {
    margin: 25px 0 0 0; }

  .more-boost .line {
    display: none; }

  .more-boost .subproducts {
    height: auto; }
    .more-boost .subproducts .subprod.left, .more-boost .subproducts .subprod.right {
      float: none; }
    .more-boost .subproducts .subprod {
      width: 85%;
      height: auto;
      margin: 25px auto; }
      .more-boost .subproducts .subprod .thumb-holder {
        width: 100%;
        height: auto;
        float: none; }
        .more-boost .subproducts .subprod .thumb-holder .thumb {
          transform: none; }
      .more-boost .subproducts .subprod .details {
        width: 100%;
        float: none;
        text-align: center;
        padding-top: 20px; }

  .lookbook {
    width: 100%;
    height: auto;
    margin: 0; }

  .login, .signup, .account, .order {
    width: 100%;
    height: auto;
    margin: 0; }

  .login .inner, .signup .inner, .account .inner, .order .inner {
    width: 85%;
    margin: 30px auto;
    text-align: center; }

  .login .title, .signup .title, .account .title, .order .title {
    font-size: 25px;
    margin-bottom: 25px; }

  .login .btn, .signup .btn, .account .btn, .order .btn {
    float: none; }

  .login .btn.btn-login, .signup .btn.btn-login, .account .btn.btn-login, .order .btn.btn-login, a.btn.colored, button.btn.colored {
    width: 100%;
    max-width: 280px;
    margin: 0 0 15px 0; }

  .order .total {
    float: none;
    width: 100%; }

  .order .promo-code, .order .delivery-address {
    width: 100%;
    margin: 20px 0; }

  .order .promo-code .btn {
    float: none; }

  .account .tabs .tab, .order .tabs a, .order .tabs .tab {
    font-size: 14px; }

  .account .tabs img {
    width: 100%; }

  .account .title-mob {
    font-family: 'loraitalic', serif;
    font-size: 25px;
    border-bottom: 5px solid #e4c6b6;
    padding-bottom: 5px;
    margin: 15px 0; }

  .account .tabs a.active, .account .tabs .tab.active, .order .tabs a.active, .order .tabs .tab.active {
    border-bottom: 5px solid #e4c6b6; }

  .order .basket .col-1 {
    width: 20%; }

  .order .basket .col-2 {
    width: 60%; }

  .order .basket a {
    font-size: 12px; }

  .order .total .price {
    float: right; }

  .payment .addresses-table {
    width: 100%; }

  .payment .payment-form, .payment .payment-confirmed {
    width: 100%;
    margin: 0; }

  .sizes-table .frame {
    width: 100%;
    padding: 0; }

  .sizes-table .frame .title {
    margin-top: 15px; }

  .sizes-table .frame .table {
    width: 100%; }

  .sizes-table .frame .table .col {
    font-size: 12px;
    line-height: 1;
    padding-top: 5px; }

  .account .tabs, .order .tabs {
    margin-bottom: 15px; }
    .account .tabs a:hover, .order .tabs a:hover {
      border-bottom: 5px solid #e4c6b6; }

  .account .col, .order .col {
    width: 100%;
    float: none;
    margin-right: 0; }

  .account label, .order label {
    text-align: center; }

  .account .address .title, .order .address .title {
    text-align: center;
    margin-top: 25px; }

  .account .address .btn, .order .address .btn {
    margin: 0 0 15px 0; }

  .account .table {
    border: none;
    margin-top: 25px; }

  .account .table .col-1 {
    width: 100%;
    float: none; }

  .account .table .row {
    border: 1px solid #000;
    margin-bottom: 15px; }

  .footer .btn {
    width: auto; }

  .static {
    width: 100%;
    padding: 0;
    margin: 0; }
    .static .inner {
      padding: 0 20px; }
    .static h1 {
      font-family: 'gotham_boldregular';
      text-transform: uppercase;
      font-size: 32px;
      padding: 45px 0;
      margin: 0; }
    .static h2 {
      font-family: 'loraitalic';
      color: #a6a6a6;
      font-size: 26px; }

  .tech p {
    padding: 15px;
    margin: 0; }
  .tech .intro {
    height: auto;
    margin-top: 0;
    padding: 15px; }
    .tech .intro h1 {
      font-size: 39px;
      padding: 45px 0; }
    .tech .intro p {
      font-size: 14px;
      margin-top: 15px; }

  /*---------------------------*/
  /* END XS */ }
/*---------------------------*/
/* S */
@media (min-width: 769px) and (max-width: 991px) {
  .hidden-s {
    display: none; }

  .visible-s {
    display: inherit; } }
/*---------------------------*/
/* M */
/* L */
@media (min-width: 1400px) {
  .product {
    height: 1400px; } }
/*---------------------------*/
@media (max-width: 500px) {
  .home .big-dress img {
    width: 100%; } }
@media (max-width: 400px) {
  .home .big-dress {
    height: 1000px; } }

/*# sourceMappingURL=main.css.map */
