 * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Voltaire', sans-serif;
    color: #E7E7E7;
}

canvas{
    position: relative;
    z-index: 0;
}

.gui{
    width: 240px;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-y: scroll;
    background: rgba(0, 0, 0, 0.9);
    padding: 10px
}

.gui-group{
  margin: 10px 0px;
  border: 1px solid #E7E7E7;
}

.gui-group.disabled{
  color: #3E3E3E;
  border: 1px solid #3E3E3E;
}

.gui-group .grabber{
  width: 100%;
  background: #E7E7E7;
  cursor: pointer;
}

.gui-group.disabled .grabber{
  background: #3E3E3E;
}

.gui-group .switch{
  float: right;
  margin: 5px;
}

.gui-group .title{
  padding: 8px 0 8px 10px;
  font-size: 13px;
  text-transform: uppercase;
}

.gui-group .content{
  padding: 10px;
  border-top: 1px solid #E7E7E7;
}
.gui-group .val{
  float: right;
}

button{
    background: none;
    border: none;
    color: #66FF9D;
    padding: 10px 0;
    font-family: 'Voltaire', sans;
    font-size: 12px;
    outline: none;
    cursor: pointer;
    width: 100%;
    text-transform: uppercase;
    border: 1px solid #66FF9D;
}
button:hover{
    background-color: #66FF9D;
    color: #111111;
}
button.delete{
  padding: 10px;
  font-size: 18px;
}

label{
  display: block;
  font-size: 12px;
  margin-top: 5px;
}
input[type=checkbox]{
  margin: 5px 0 0 0;
  cursor: pointer;
}

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    outline: none;
    margin: 0;
}
input[type=range]::-moz-range-thumb {
  width: 5px;
  height: 15px;
  border: none;
  border-radius: 0;
  cursor: pointer;
  background: #E7E7E7;
}
input[type=range]::-moz-range-thumb:hover {
  background: #66FF9D;
}
input[type=range]:active::-moz-range-thumb {
  background: #66FF9D;
}
input[type=range]::-moz-range-track {
  background: #E7E7E7;
  border: 0;
}
input[type=range]::-moz-focus-inner { 
  border: 0; 
}

.clearfix{
  clear: both;
}