 * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Roboto', sans;
    color: #ccc;
}

canvas{
    position: relative;
    z-index: 0;
}

.gui{
    width: 240px;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-y: scroll;
    background: none repeat scroll 0% 0% rgb(72, 72, 72);
    border-left: 4px solid rgb(42, 42, 42);
}

.gui-group{
    background-color: #222;
}

.gui-group .title{
    background-color: #333;
    padding: 8px 0 8px 10px;
    font-size: 13px;
    border-top: 1px solid #444;
    border-bottom: 1px solid #1A1A1A;
}

.gui-group .title input[type=checkbox]{
    margin: 0;
    float: right;
    margin: 2px 10px 0 0;
}

.gui-group .content{
    padding: 10px;
}
.gui-group .val{
    float: right;
}

button{
    background: none;
    border: none;
    color: #66FF9D;
    padding: 10px 0;
    font-family: 'Roboto', sans;
    font-size: 12px;
    outline: none;
    cursor: pointer;
    width: 100%;
}
button:hover{
    background-color: #66FF9D;
    color: #111111;
}
button.delete{
    padding: 10px;
    font-size: 18px;
}

label{
    display: block;
    font-size: 12px;
    margin-top: 5px;
}

input[type=checkbox]{
    margin: 5px 0 0 0;
    cursor: pointer;
}

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    outline: none;
    margin: 0;
    background: #353535;
    border-radius: 10px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: ##ccc;
  cursor: pointer;
}
input[type=range]::-webkit-slider-thumb:hover {
    background: #e06161;
}
input[type=range]:active::-webkit-slider-thumb {
  background: #e06161;
}

input[type=range]::-moz-range-thumb {
  width: 10px;
  height: 10px;
  
  border: none;
  background: #ccc;
  cursor: pointer;
}
input[type=range]::-moz-range-thumb:hover {
    background: #e06161;
}
input[type=range]:active::-moz-range-thumb {
    background: #e06161;
}
input[type=range]::-moz-range-track {
    background: #353535;
    border: 0;
}
input[type=range]::-moz-focus-inner { 
  border: 0; 
}